%p
  %strong Title:
  = @recipe.title
%p
  %strong Tagline:
  = @recipe.tagline
%p
  %strong Submitter:
  = @recipe.user.email


= link_to 'Edit', edit_recipe_path(@recipe) if current_user == @recipe.user
= link_to 'Back', recipes_path
