.row
  .col-md-6.col-md-offset-5
    = image_tag @user.image, :width => 150, :height => 150, :style => "border-radius: 50%;"

.name{:style => "padding-top:20px"}
  = @user.name

.job
  - if @user.job?
    = @user.job
  - elsif @user == current_user
    .form-group.col-md-4.col-md-offset-4
      .input-group{:style => "padding-top:20px"}
        = text_field_tag :job,"", :placeholder => "Add a job title...", :class => "form-control", :id => "add_job"
        = link_to "Submit", "javascript:void(0)", :class => "input-group-addon"
  - else

.row
  .col-md-12
    %h1.bleh Submitted
  = render @user.submitted
.row
  .col-md-12
    %h1.bleh Voted
  = render @user.voted
